.license {
  margin: 3rem;
}

.license h3 {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  padding: 0.4rem 0.8rem;
  color: #c720ab;
}

.license ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.license ul a {
  text-decoration: underline;
  color: #3a3a3a;
  transition: all 0.2s;
}

.license ul a:hover {
  color: #c720ab;
}

.license ul span {
  text-decoration: underline;
  color: #c720ab;
}

hr {
  width: 14%;
  margin: 5rem auto;
  border: none;
  border-top: 10px dotted #3a3a3a;
}
